@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

*,
*:after,
*::before {
  box-sizing: inherit;
}


* {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #E8E8E8;
  font-family: 'Open Sans', sans-serif;
}
